.ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-bottom > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before,
.ant-tabs-bottom > div > .ant-tabs-nav::before {
  border-bottom: none !important;
}

.app__spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app__rated-empty {
  margin-top: 32px;
  font-size: large;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}